:root {
    --white: #F7F7F7;
    --beige: #F2E7D5;
    --teal: #6D9886;
    --black: #393E46;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0px;
    background: beige;
    overflow-x: hidden;
}

*::-webkit-scrollbar {
    width: 0;
  }
  
  *::-webkit-scrollbar-track {
    background: transparent;
  }
  
  *::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
  }

header {
    width: 100vw;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2em;
    padding-right: 2em;
    align-items: center;
    box-shadow: var(--teal) 0px 20px 30px -10px;
}

.links {
    display: flex;
    list-style-type: none;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.5em;
    gap: 1.3em;
}

.links li {
    transition: all 200ms ease-in-out;
}

header a {
    color: black;
    text-decoration: underline;
}


header img {
    object-fit: contain;
    height: 100%;
}

.material-symbols-outlined {
    font-size: 1.5em;
}

.links li:hover {
    transform: scale(1.2);
}

.home-page {
    height: fit-content;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2em;
}

.carousel {
    width: 80vw;
    height: 10vh;
    padding-top: 40%;
    margin-top: 1em;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}

.about-us, .about-us .top {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-us .bottom {
    margin-top: 2em;
    display: flex;
    height: fit-content;
    width: 100vw;
    justify-content: space-evenly;

}

.bottom li {
    text-align: center;
}

.bottom li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 30%;
}

footer {
    padding-top: 2em;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    background-color: var(--beige);
}

.support-info {
    display: flex;
    flex-direction: column;
    padding-left: 2em;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.support-info p {
    width: 70%;
}

form {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.btn-primary {
    background: var(--teal);
}

small {
    text-align: center;
}

.carousel__viewport {
    margin-bottom: 0px;
}

.game img {
    height: 100px;
    object-fit: contain;
}

.game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2em;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    text-decoration: none;
    color: black;
}

.game-catalog {
    padding: 2em;
    height:  fit-content;
    width: 100%;
    display: flex;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, minmax(100px, 400px));
    justify-content: space-evenly;
    align-items: center;
    gap: 4em;
}

.tic-tac-toe-main  {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2em;
}

.grid {
    height: 500px;
    width: 500px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background: var(--black);
    gap: 2px;
    border-radius: 5px;
}

.cell {
    transition: 50ms ease-in-out;
    font-size: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: var(--teal);
}

.cell:hover {
    background: var(--white);
}

.restart {
    display: none;
    border: 3px solid var(--black);
    border-radius: 5px;
    padding: 4px;
    font-size: 1.5em;
    background: var(--teal);
    color: var(--white);
    width: 10%;
    transition: all 150ms ease-in-out;
}

.restart:hover {
    transform: scale(1.1);
}

.rock-paper-scissors-main {
    padding: 2em;
    display: flex;
    justify-content: center;
    gap: 3em;
    flex-direction: column;
    align-items: center;
}

.rock-paper-scissors-main img {
    height: 300px;
    object-fit: cover;
    transition: all 200ms ease-in-out;
    border-radius: 10px;
}

.rock-paper-scissors-main img:hover {
    transform: scale(1.1);
    background: var(--black);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.selection-container {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 3em;
}