:root {
    --white: #F7F7F7;
    --beige: #F2E7D5;
    --teal: #6D9886;
    --black: #393E46;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0px;
    background: beige;
}

header {
    width: 100vw;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    padding-left: 2em;
    padding-right: 2em;
    align-items: center;
    box-shadow: var(--teal) 0px 20px 30px -10px;
}

.links {
    display: flex;
    list-style-type: none;
    width: 50%;
    justify-content: space-evenly;
    font-size: 1.5em;
    gap: 1.3em;
}

.links li {
    transition: all 200ms ease-in-out;
}

a {
    color: black;
}


header img {
    object-fit: contain;
    height: 100%;
}

.material-symbols-outlined {
    font-size: 1.5em;
}

.links li:hover {
    transform: scale(1.2);
}

main {
    height: 85vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carousel {
    width: 80vw;
    height: 10vh;
    padding-top: 40%;
    margin-top: 1em;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}

.about-us, .about-us .top {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-us .bottom {
    margin-top: 2em;
    display: flex;
    height: 40vh;
    width: 100vw;
    justify-content: space-evenly;

}

.bottom li {
    text-align: center;
}

.bottom li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 30%;
}